{% extends "base.html" %}

{%  block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Issued Assets</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Asset Id</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                {% for asset in assets %}
                    <tr>
                        <td>
                        {% if asset.image_url %}
                            <img src="{{ asset.image_url }}" width="30" height="30">
                        {% endif %}
                        {{ asset.name }}
                        </td>
                        <td>{{ asset.asset }}</td>
                        <td>{{ asset.assetamount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}